---
import { GraphQLClient } from "graphql-request";
import PageLayout from '../layouts/PageLayout.astro';
import BlogPost from '../components/BlogPost.astro';
import MoreBlogPosts from "../components/MoreBlogPosts";

// New GraphQL client with Hygraph endpoint
const client = new GraphQLClient(import.meta.env.HYGRAPH_ENDPOINT);

// Define the number of posts loaded per page
const pageSize = 8;

// Declare Posts type
type Pages = {
	postsArray: {
		cursor: string;
		posts: Posts;
	}[];
	pageInfo: {
		endCursor: string;
		hasNextPage: boolean;
	}
}

type Posts = {
	posts: {
		slug: string; 
		title: string;
		body?: {
			text: string;
		};
		likes: number;
		postAuthor: {
			postAuthor: string;
		}
		postCategories: {
			categoryName: string;
		}
		postTags: {
			tagName: string;
		}
		publishDate: string;
		image?: {
			url: string | null;
			altText: string | null;
		}
		videoLink: string;
		videoToggle: boolean;
	}[];
};

//GraphQL query to fetch data
const paginationQuery = `
	query paginationQuery($size: Int) {
		pages: postsConnection(first: $size, orderBy: publishDate_DESC) {
			postsArray: edges {
				cursor
				posts: node {
					title
					slug
					body {
						html
						}
					likes
					postAuthor {
						postAuthor
						}
					postCategories {
						categoryName
						}
					postTags {
						tagName
						}
					publishDate
					image {
						altText
						url
						}
					videoLink
					videoToggle
					}
			}
			pageInfo {
				endCursor
				hasNextPage
			}
		}
	}`

const { pages } : any = await client.request(paginationQuery, { size: pageSize })

/*
console.log(pages.postsArray.map((post) => {
	return post.posts
}))
*/

const pageTitle = "Home"
---

<PageLayout title={pageTitle}>
	<section>
		<ul class="flex flex-col gap-16">
			{
			  pages.postsArray.map((posts: any) => {
				return (
					<li>
						<BlogPost 
							title={posts.posts.title}
							slug={posts.posts.slug}
							publishDate={posts.posts.publishDate}
							author={posts.posts.postAuthor.postAuthor}
							category={
								posts.posts.postCategories.map(function(element: { categoryName: string }, index: number, array: { categoryName: string }[]){
									if (index == array.length -1) {
										return `${element.categoryName}`
									} else {
										return `${element.categoryName}, `
									}
								})
							}
							tag={
								posts.posts.postTags.map(function(element: { tagName: string }, index: number, array: { tagName: string }[]){
									if (index == array.length -1) {
										return `${element.tagName}`
									} else {
										return `${element.tagName}, `
									}
								})
							}
							commentNumber={0}
							likeNumber={posts.posts.likes}
							imageURL={
								posts.posts.image.map(function(element: { url: string, altText: string }, index: number, array: { url: string, altText: string }[]){
									return `${element.url}`
								})
							}
							imageAltText={
								posts.posts.image.map(function(element: { url: string, altText: string }, index: number, array: { url: string, altText: string }[]){
									return `${element.altText}`
								})
							}
							videoURL={posts.posts.videoLink}
							videoToggle={posts.posts.videoToggle}
						/>
					</li>
				);
			  })
			}
		  </ul>

		  {
			pages.pageInfo.hasNextPage && <MoreBlogPosts client:visible currentCursor={pages.pageInfo.endCursor} size={pageSize} HYGRAPH_ENDPOINT={import.meta.env.HYGRAPH_ENDPOINT}/>
		  }
	</section>
</PageLayout>

<style>
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>