---
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';

interface Props {
	title: string;
    slug?:string;
    publishDate: string;
	body?: string;
    author: string;
    category: string;
    tag: string;
    commentNumber: number;
    likeNumber: number;
    imageURL?: string;
    imageAltText?: string;
    videoURL?: string;
}

const { title, 
        slug, 
        publishDate, 
        body, 
        author, 
        category, 
        tag, 
        commentNumber, 
        likeNumber, 
        imageURL, 
        imageAltText,
        videoURL } = Astro.props;
---

<div class="w-full mx-auto flex flex-col gap-2">
    <a href=`/posts/${slug}`>
        <h2 class="text-3xl">{title}</h2>
    </a>
    <div class="flex gap-4">
        <div class="flex items-center gap-2">
            <Icon name="ph:calendar-dots-fill" class="w-6 h-6"/>
            <p>{publishDate}</p>
        </div>
        <div class="flex items-center gap-2">
            <Icon name="ph:user-circle-fill" class="w-6 h-6"/>
            <p>{author}</p>
        </div>
        <div class="flex items-center gap-2">
            <Icon name="ph:clock-fill" class="w-6 h-6"/>
            <p>3 min.</p>
        </div>
    </div>
    <video>
        <source src={videoURL} type="video/mp4">
    </video>
    <img src={imageURL} alt={imageAltText}/>
    <p>{body}</p>
    <div class="flex justify-between">
        <div  class="flex flex-col gap-2">
            <div class="flex items-center gap-2">
                <Icon name="ph:folder-open-fill" class="w-6 h-6"/>
                <p>{category}</p>
            </div>
            <div class="flex items-center gap-2">
                <Icon name="ph:tag-fill" class="w-6 h-6"/>
                <p>{tag}</p>
            </div>
        </div>
        <div class="flex flex-col gap-2">
            <div class="flex items-center gap-2">
                <Icon name="ph:chat-circle-dots-fill" class="w-6 h-6"/>
                <p>{commentNumber} Comments</p>
            </div>
            <div class="flex items-center gap-2">
                <Icon name="ph:heart-fill" class="w-6 h-6"/>
                <p>{likeNumber} Likes</p>
            </div>
        </div>
    </div>
</div>
