---
import { Icon } from 'astro-icon/components'

const platform = ["youtube", "gmail", "x", "patreon", "instagram", "discord", "reddit"]
const username1 = "overanalyzinganime"
const username2 = "oanalyzinganime"
const username3 = "overanalyzingxanime"
---
<div class="flex gap-6">
    <a href={`https://www.${platform[0]}.com/@${username1}`} aria-label="YouTube Icon">
        <Icon name="ph:youtube-logo-fill" class="w-6 h-6"/>
    </a>
    <a href={`mailto:${username3}@${platform[1]}.com?subject=Contact Overanalyzing Anime`} aria-label="Email Icon">
        <Icon name="tabler:mail-filled" class="w-6 h-6"/>
    </a>
    <a href={`https://www.${platform[3]}.com/${username1}`} aria-label="Patreon Icon">
        <Icon name="ri--patreon-fill" class="w-6 h-6"/>
    </a>
    <a href={`https://www.${platform[2]}.com/${username2}`} aria-label="X Icon">
        <Icon name="ri--twitter-x-fill" class="w-6 h-6"/>
    </a>
    <a href={`https://www.${platform[4]}.com/${username1}`} aria-label="Instagram Icon">
        <Icon name="ph:instagram-logo-fill" class="w-6 h-6"/>
    </a>
</div>